{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true,
        "MethodCallRemoval": {
            "ignore": [
                "DaftFramework\\RelaxedObjectRepository\\Fixtures\\ThingMemoryRepository::__construct"
            ]
        },
        "Throw_": {
            "ignore": [
                "DaftFramework\\RelaxedObjectRepository\\AbstractObjectRepository::RecallObject"
            ]
        },
        "UnwrapArrayValues": {
            "ignore": [
                "DaftFramework\\RelaxedObjectRepository\\AbstractObjectRepository::MaybeRecallManyObjects"
            ]
        }
    }
}
