{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true,
        "Throw_": {
            "ignore": [
                "DaftFramework\\RelaxedObjectRepository\\AbstractObjectRepository::RecallObject"
            ]
        }
    }
}
